/* Keith, lab14, august 25 */
body {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
    gap: 2rem;
}
#body2 {
    display: grid;
    grid-template-columns: 1fr;
}
footer {
    margin: auto;
    background-color: aliceblue;
}
header {
    text-align: center;
    background-color: darkblue;
    color: cornflowerblue;
    width: 100%;
    margin: auto;
}
nav {
    background-color: darkslategray;
    border: 1px solid black;
}
ul {
    border: 1px solid black;
    padding: 10px;
}
header h1 {
    font-size: xx-large;
}
a {
    color: cornflowerblue;
}
article {
    background-color: aliceblue;
    margin: auto;
    text-align: center;
    padding: 10px;
}
form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    gap: 1rem;
    background-color: aliceblue;
    border: 1px solid black;

}
@media (min-width:400px) and (max-width:768px)  {
    form {
        display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    gap: 1rem;
    background-color: aliceblue;
    border: 1px solid black;
    }
}
fieldset {
    display: grid;
    gap: 1rem;
    padding: 10px;
    
}



