/* september 5, keith, lab 18*/

body {
    background-color: burlywood;
    width: 60%;
    margin: auto;
}
header, main, footer {
    background-color: cadetblue;
    border: 5px solid red;
    padding: 5%;
    margin: auto;
}