/* Keith Dumas,Lab 11, August 14*/
img {
    max-width: 300px;
}
body {
    text-align: center;
}
header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "h1 h1 h1"
    "nav nav nav"
    ;
    gap: 20px;
}
nav {
    grid-area: nav;
}
h1 {
    grid-area: h1;
}


#about {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "p1 p3 p3"
    "p2 p3 p3"
    "p4 p4 p4"
    ;
    gap: 20px;
    padding: 30px;
    margin: auto;
}

.p1 {
    grid-area: p1;
}
.p2 {
    grid-area: p2;
}
.p3 {
    grid-area: p3;
}