table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: left;
}
body {
    background-color: lightcyan;
    font-family: sans-serif;
    max-width: 1200px;
    min-width: 800px;
    margin: auto;
}
table {
    border: 5px blue;
    border-style: outset;
    border-collapse: collapse;
    background-color: lightyellow;
    width: 100%;
    font-size: 90%;
}
caption {
    font-size: 75%;
}
thead tr, tfoot tr{
    background-color: lightblue;
    height: 40px;
}
tbody, tr {
    height: 60px;
}
tbody th {
    width: 20%;
}
tbody td {
    width: 16%;
}