body {
    background-color: bisque;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
#plato {
    max-height: 250px;
    max-width: 700px;
}
#aquinas {
    max-height: 300px;
    max-width: 680px;
}
#plato:hover {
    max-width: 700px;
    max-height: 700px;
}
#aquinas:hover {
    max-width: 1000px;
    max-height: 1000px;
}

#special {
    color: red;
}
a {
    text-decoration: none;
    color: chocolate;
}
h1, h2, h3 {
    text-align: center;
    color: red;
}
a:hover {
    color: brown;
    text-decoration: underline;
}
section {
    padding: 30px;
    background-color: blanchedalmond;
    box-shadow: 10px;
}
nav {
    padding: 20px;
    
}
table {
    border: 1px solid rgb(108, 28, 28);
    padding: 10px;
}
#theologica {
    max-width: 300px;
    max-height: 400px;
}
#aristotle {
    max-width: 300px;
    max-height: 400px;
}
#theologica:hover {
    max-width: 600px;
    max-height: 800px;
}
#aristotle:hover {
    max-width: 600px;
    max-height: 800px;
}
.book {
    font-size: xx-large;
}