body{
			width: 800px;
			border: 5px dashed red;
		}

h1 {
	
    padding: 10px;
    border: 5px solid blue;
	width: 150px;
    border-style: dotted;
    margin: 2px auto;
}
#one {
	background-color: blueviolet;
	padding: 50px;
}
#two {
	padding: 10px;
	border: 5px solid blue;
	width: 160px;
	margin: 30px;
	border-style: dotted;
}
#three {
	border-style: dashed;
	border: 5px solid crimson;
	margin-right: 200px;
}
#four {
	width: 600px;
	border: 5px solid black;
	margin: auto;
}
#image {
	width: 600px;
}