/* Keith Dumas,Lab 10, August 12*/

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 20px;
}
h1 {
    display: flex;
    flex-direction: column;
}
 .feautured-artists {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    margin-left: 50px;
    margin-right: 50px;
}
img {
    max-width: 250px;
    max-height: 300px;
}
body {
    text-align: center;
}
