@charset "utf-8";
/* august 27, keith, lab 15*/
article, aside, figcaption, figure,
footer, header, main, nav, section { 
   display: block;
}

* {
   margin: 0;
   padding: 0;
   font-size: 100%;
   box-sizing: border-box;  
}


/* Set the default page element styles */

body {
   line-height: 1.2em;
}

nav ul {
   list-style: none;
}

nav a {
   text-decoration: none;
}

