@charset "utf-8";
/* august 27, keith, lab 15*/
html {
   font-family: Verdana, Geneva, sans-serif;
   height: 100%;
}

body {
   background-color: #afa783;
   margin: 0px auto;
   min-width: 800px;
   max-width: 1200px;  
   width: 70%;
}

/* Header styles */


header > img {
   width: 50%;
}

header {
   background: #ca9d5c;
   width: 100%;
   
}



/* Navigation list styles */

header nav ul{
   display: grid;
   grid-template-columns: repeat(4, 15%) 40%;
}

header nav{
   background-color: #95784e;
}

header nav ul li {
   font-size: 1.2em; 
   padding: 15px 0px;
   text-align: center;
}

li#right{
   text-align: right;
   padding-right: 20px;
}

header nav ul li a {
   color: white;
   display: block;
   width: 100%;
}

header nav ul li a:hover {
   color: rgb(249, 209, 17);
}
/* august 27, keith, lab 15*/
/* Section Styles */

section {
   background-color: #efede6;
   width: 100%;
   padding: 40px;
   display: grid;
   grid-template-columns: 70% 30%;
}

section > h1 {
   font-size: 2.2em;
   color: rgb(206, 141, 56);
   letter-spacing: 0.2em;
   font-weight: normal;
   grid-column: 1/-1;
}

section aside {
   color: rgb(206, 141, 56);   
   margin-top: 25px;
   font-size: 0.8em;
   padding: 0px 15px;
}

section aside h1 {
   font-size: 1.5em;
   line-height: 1.5em;
}

section aside h2 {
   font-size: 1.2em;
   margin: 10px 0px 5px;
}

section aside ul {
   border-top: 1px solid rgb(206, 141, 56);
   border-bottom: 1px solid rgb(206, 141, 56);
   margin: 0px 0px 10px 10px;
}

/* Footer Styles */

footer {
   background-color: #95784e;
   text-align: center;
   padding: 15px 0px;
   color: white;
}

footer address {
   font-style: normal;
   letter-spacing: .25em;
}
/*form styles/layout*/
form #submit {
   margin: auto;
   width: 20%;
   margin-left: 10px;
   margin-top: 3%;
   border-radius: 15px;
}
    form {
   background-color: blanchedalmond;
   margin-top: 30px;
   align-items: center;
   text-align: center;
}
 fieldset {
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
   text-align: center;
   border-style: none;
   margin: auto;
   gap: 1rem;
   width: 60%;
   margin-bottom: 10px;
   padding: 10px;
}
form legend {
   background-color: chocolate;
   border-radius: 15px;
   padding: 1%;
   width: 90%;
   margin: auto;
   color: white;
   margin-bottom: 30px;
   text-align: left;
}
/*login*/




/*payment*/

div #date{
   width: 20%;
}
